@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$body-bg: #f8f9fa;
$body-color: #444444;
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif !default;
$font-weight-semibold: 400;
$font-weight-bold: 600;
$primary: #4c5cea;
$secondary: #4ceada;
$light-gray: #edede9;
$steal: #6c757d;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'light-gray': $light-gray,
  'steal': $steal,
);

@import '~bootstrap/scss/bootstrap';
