@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$body-bg: #f8f9fa;
$body-color: #444444;
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif !default;
$font-weight-semibold: 400;
$font-weight-bold: 600;
$primary: #6ec4bc;
$secondary: #437873;
$dark: #274542;
$light-gray: #edede9;
$steal: #6c757d;
$btn-color: white;
$input-group-addon-bg: red;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'light-gray': $light-gray,
  'dark': $dark,
  'steal': $steal,
);

.btn-primary {
  color: white !important;
}

@import '~bootstrap/scss/bootstrap';
