html,
body {
  height: 100%;
}

.h-calc {
  height: calc(100% - 3.2rem);
}

.h-calc-cart {
  height: calc(100% - 124.48px);
}

.h-calc-header {
  height: calc(100vh - 56px);
}

.fs-8 {
  font-size: 0.8rem;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.form-control {
  border: none;
  background-color: #6ec4bc3c;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(110, 196, 188, 0.5);
  border: none;
  background-color: #6ec4bc3c;
}

input[type='text'] {
  background-color: #6ec4bc3c;
}

label {
  color: #274542;
}
