html,
body {
  height: 100%;
}

.h-calc {
  height: calc(100% - 60.26px);
}

.h-calc-cart {
  height: calc(100% - 140.48px);
}

.h-calc-header {
  height: calc(100vh - 110.39px);
}

.fs-8 {
  font-size: 0.8rem;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #e2dcde;
  border-radius: 8px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(68, 68, 68, 0.5);
  border: none;
  background-color: #4444441a;
}

input[type='text'] {
  background-color: #ffffff;
  border: 1px solid #e2dcde;
  border-radius: 8px;
}

label {
  color: #274542;
}

.navbar-brand {
  font-size: 1.2rem;
}

.card-cart:last-child {
  margin-bottom: 0 !important;
}

.card-backdrop {
  height: calc(100vh - 56px);
  top: 56px;
}

.cart .modal-dialog {
  margin: 71px auto;
  right: 0;
  margin-right: 1rem;
}

.cart .modal-body {
  height: 20rem;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  // .h-calc-header {
  //   height: 100%;
  // }
  // TODO: Check in responsive

  .ptm-3 {
    padding-top: 4rem;
  }
}
