@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  color: #444444;
}

.radio-box label {
  display: inline-block;
  width: 70px;
  padding: 0.5rem 0rem;
  border: solid 2px #ccc;
  transition: all 0.3s;
  font-size: 0.7rem;
  text-align: center;
}

.radio-box input[type='radio'] {
  display: none;
}

.radio-box input[type='radio']:checked + label {
  border: solid 2px green;
}
